*{
    margin: 3px;
    background-color: grey;
    align-items: center;

}
h1{
    background-color: black;
    color: aquamarine;
}
p{
    background-color: aquamarine;
    color: black;
}
li{
    list-style: none;
    background-color: yellow;
}
ol{
    background-color: yellow;
}